mysql_root_password: <set_your_mysql_root_password>
mysql_username: monasca
mysql_password: <set_your_mysql_monasca_password>
influxdb_username: monasca
influxdb_password: <set_your_influxdb_monasca_password>
keystone_host: <set_your_keystone_host_ip_or_fqdn>
keystone_region: <set_your_keystone_region_name>
keystone_monasca_username: monasca
keystone_monasca_password: <set_your_keystone_monasca_password>
keystone_monasca_project: service
keystone_monasca_role: admin
keystone_monasca_project_domain_id: default
keystone_admin_token: <set_your_keystone_admin_token>
