[monasca_api]
monasca-host.b-com.com ansible_ssh_user=ubuntu

[monasca_api:vars]
monasca_api_host=monasca-host.b-com.com
keystone_host=crtl.openstack.b-com.com

[monasca_ui]
crtl.openstack.b-com.com ansible_ssh_user=ubuntu

[monasca_agent]
monasca-host.b-com.com ansible_ssh_user=ubuntu
crtl.openstack.b-com.com ansible_ssh_user=ubuntu
compute1.openstack.b-com.com ansible_ssh_user=ubuntu
compute2.openstack.b-com.com ansible_ssh_user=ubuntu

[monasca_agent:vars]
keystone_host=crtl.openstack.b-com.com
